:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Color */
  --main-color: #757575;
  --secondary-color: #212121;
  --secondary-accent-color: #ffffff;
  --accent-color: #2196f3;
  --bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-color);
  background-color: var(--white-color);
}

/* Background */

.hero {
  background-color: var(--bg-color);
}

/* Logo */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
  color: var(--accent-color);
}

.black-logo {
  color: #000;
}

.white-logo {
  color: #fff;
}

.team {
  background-color: var(--secondary-bg-color);
}

.footer {
  background-color: var(--bg-color);
}

/* Links */
.link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--main-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.nav-link {
  color: var(--secondary-color);
}

.current {
  color: var(--accent-color);
}

.work-link {
  font-family: inherit;
  text-decoration: none;
  color: currentColor;
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* Buttons */
.btn {
  font-family: inherit;
  cursor: pointer;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.works-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
}

.works-btn:hover,
.works-btn:focus,
.current-btn {
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
}

/* Headings */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-accent-color);
}

.benefits-title,
.services-title,
.team-title,
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.item-title {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

.member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.benefits-title,
.services-title,
.team-title,
.works-title,
.item-title,
.member-title,
.work-title {
  color: var(--secondary-color);
}

/* Visualy hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Text */
.member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-text {
  font-size: 16px;
  line-height: 1.88;
}

.address {
  font-style: normal;
  color: var(--secondary-accent-color);
}

/* Lists */
.list {
  list-style: none;
}
